@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Roboto:300,100italic");
/* .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

:root {
    --hero-bg-color: #f3f3f3;
    --hero-font-size: 4rem;
    --hero-text-container: #f08633;

    --feature-panel-h2: 2.5rem;
    --feature-panel-h3: 2rem;
    --feature-panel-h2-color: #315f79;

    --feature-panel-main-size: 1.5rem;

    --quote-font-size: 3rem;

    --cta-h3-font-size: 30px;
    --cta-h3-color: #315f79;

    --cta-text-description: 18px;
    --cta-text-description-color: #3f3f3f;
    --subscribe-btn-color: #f06833;

    --footer-bg-color: #315f79;
    --footer-icon-bg-color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 1rem 3.5rem 1rem 3.5rem;
}

.header .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__nav img {
    width: 10%;
}

.header__nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__nav span {
    font-size: 1.5rem;
    color: #006400;
}

.header__nav .header__nav-list {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.header__nav button {
    width: 7rem;
    height: 3.2rem;
    color: #ffff;
    background-color: rgb(243, 108, 52);
    border: 1px solid #ccc;
    border-radius: 6px;
}

.header__nav button:hover {
    background-color: #ffa07a;
    transition: all 0.4s ease;
}

.hero {
    background-color: var(--hero-bg-color);
}

.hero__container {
    display: flex;
    /* padding: 1.2rem; */
    height: calc(100vh - 98px);
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.hero__container img {
    width: 100%;
    position: relative;
}

.hero__container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--hero-font-size);
    text-wrap: nowrap;
    color: white;
}

.hero__container .hero__text-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.hero__container .hero__text-container p {
    width: 60%;
    color: #f08633;
    margin-bottom: 2rem;
}

.feature__panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature__panel h2 {
    font-size: var(--feature-panel-h2);
    color: var(--feature-panel-h2-color);
    margin-top: 3.5rem;
}

.feature__panel-container {
    display: flex;
    gap: 5rem;
    margin: 3.5rem;
}

.feature__panel-container .feature__panel-item {
    flex: 1;
}

.feature__panel-container .feature__panel-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature__panel-container .feature__panel-item:first-child {
    /*selecting the first child*/
    justify-content: center;
    height: 350px;
    overflow: hidden;
}

.feature__panel-container .feature__panel-item h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: var(--feature-panel-h3);
}

.feature__panel-item .feature__panel-text {
    max-width: 100%;
    font-size: var(--feature-panel-main-size);
}

.feature__panel-item img {
    width: 100%;
}

.quote__container {
    display: flex;
    justify-content: center;
    font-family: italic;
    text-align: center;
    padding: 3.5rem;
    font-size: var(--quote-font-size);
}

.quote__container span {
    margin-top: 1.5rem;
    float: right;
}

.cta-subscribe {
    display: flex;
    margin: 3.5rem;
    gap: 2.5rem;
}

.cta-subscribe img {
    width: 100%;
}

.cta-subscribe .cta__item {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.5rem;
}

.cta__item .cta__description h3 {
    display: flex;
    max-width: 80%;

    margin-bottom: 1rem;
    justify-content: center;
    color: var(--cta-h3-color);
    font-size: var(--cta-h3-font-size);
    font-weight: bold;
}

.cta__description p {
    font-size: var(--cta-text-description);
    color: var(--cta-text-description-color);
    text-align: left;
    max-width: 80%;
    line-height: 24px;
}

.cta__item form {
    display: flex;
    flex-direction: column;
}

.cta__item form input {
    font-size: 16px;
    min-height: 47px;
    padding: 6px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0px 8px 14px 0px;
}

.cta__item form input:focus {
    border-color: #0000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

form .first__row input {
    width: 45%;
}

form .second__row #email,
form .second__row button {
    width: 92%;
}

form .second__row button {
    background-color: var(--subscribe-btn-color);
    color: #ffff;
    height: 2.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form .second__row button:hover {
    background-color: #ffa07a;
    transition: all 0.4s ease;
}

.footer {
    background-color: var(--footer-bg-color);
    padding: 1.5rem;
}

.footer .footer__item .social__links img {
    max-width: 2%;
    padding: 5px;
    background-color: var(--footer-icon-bg-color);
    border-radius: 35px;
}

.footer__item {
    display: flex;
    margin: 3.5rem;
    height: 3 00px;
}

.social__links-container {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.social__links-container h4 {
    color: white;
}

.social__links-container .social__links {
    display: flex;
    gap: 0.5rem;
}

.social__links-container .footer__poverty {
    display: flex;
}

.social__links-container .footer__poverty img {
    width: 9%;
}

.social__links-container .footer__poverty a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
