<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>No Poverty Website</title>
        <link rel="stylesheet" href="../css/landing-page.css" />
    </head>
    <body>
        <header class="header">
            <nav class="header__nav">
                <a href="#">
                    <img src="../images/poverty-logo.png" alt="poverty-logo" />

                    No Poverty Website
                </a>

                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link"> About Us </a>
                    </li>

                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link"> Our Programs</a>
                    </li>

                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link"> Goals </a>
                    </li>
                </ul>

                <button class="header__donate-btn">Donate</button>
            </nav>
        </header>
        <main class="viewport">
            <section class="hero">
                <div class="hero__container">
                    <img src="../images/poverty-hero.jpg" alt="hero-img" />
                    <h1 class="hero__impact-msg">
                        Empowering Lives, Ending Poverty
                    </h1>

                    <div class="hero__text-container">
                        <p>
                            Hunger Free Philippines is a nonprofit organization
                            dedicated to providing meals and essential resources
                            to those living in extreme poverty. Through
                            partnerships and collaborations we aim to
                            drastically reduce hunger and create lasting change
                            for countless individuals across the Philippines.
                        </p>
                    </div>
                </div>
            </section>

            <section class="feature__panel">
                <h2 class="feature__panel-program">Our Program</h2>
                <div class="feature__panel-container">
                    <div class="feature__panel-item">
                        <img
                            src="../images/IMG_31478905789023457890.jpg"
                            alt=""
                        />
                    </div>
                    <div class="feature__panel-item">
                        <h3>Healthy Meals for Families</h3>
                        <p class="feature__panel-text">
                            Good food brings families together! By supporting
                            'Healthy Meals for Families,' you’re helping provide
                            nutritious meals to those who need it most. Let’s
                            build a healthier future, one meal at a time, and
                            make a lasting impact in their lives. Join us in
                            spreading hope and health!
                        </p>
                    </div>
                </div>

                <div class="feature__panel-container">
                    <div class="feature__panel-item">
                        <h3>School for Kids</h3>
                        <p class="feature__panel-text">
                            Education opens doors to a brighter future! By
                            supporting School For Kids, you're giving children
                            the chance to learn, grow, and thrive. Help us
                            provide quality education to those who need it most.
                            Together, we can empower young minds, create
                            lifelong opportunities, and inspire a love for
                            learning. Join us in building a better tomorrow, one
                            student at a time!
                        </p>
                    </div>
                    <div class="feature__panel-item">
                        <img src="../images/school-for-kids.jpg" alt="" />
                    </div>
                </div>

                <div class="feature__panel-container">
                    <div class="feature__panel-item">
                        <img src="../images/christmas-for-kids.jpg" alt="" />
                    </div>
                    <div class="feature__panel-item">
                        <h3>Holiday Warmth Drive: Share the Joy</h3>
                        <p class="feature__panel-text">
                            Good food brings families together! By supporting
                            'Healthy Meals for Families,' you’re helping provide
                            nutritious meals to those who need it most. Let’s
                            build a healthier future, one meal at a time, and
                            make a lasting impact in their lives. Join us in
                            spreading hope and health!
                        </p>
                    </div>
                </div>
            </section>

            <section class="quote__container">
                <div class="quote">
                    <p>
                        "Overcoming poverty is not a gesture of charity, it is
                        an act of justice. It is the protection of a fundamental
                        human right, the right to dignity and a decent life"
                    </p>
                    <span>— Nelson Mandela</span>
                </div>
            </section>

            <section class="cta-subscribe">
                <div class="cta__item">
                    <div class="cta__description">
                        <h3>Stay in the Loop</h3>
                        <p>
                            Subscribe to our newsletter to stay up-to-date on
                            our latest developments and events. You’ll be the
                            first to receive updates straight to your inbox!
                            Sign up now to never miss an important announcement
                            or story again. Thank you for your support!
                        </p>
                    </div>

                    <form action="" method="">
                        <div class="first__row">
                            <input
                                type="text"
                                id="firstname"
                                name="firstname"
                                placeholder="First Name"
                            />

                            <input
                                type="text"
                                id="lastname"
                                name="lastname"
                                placeholder="Last Name"
                            />
                        </div>

                        <div class="second__row">
                            <input
                                type="text"
                                id="email"
                                name="email"
                                placeholder="Email"
                            />

                            <button>Subscribe Now</button>
                        </div>
                    </form>
                </div>

                <img src="../images/encourage-to-join.jpg" alt="" />
            </section>
        </main>
    </body>
</html>
